#board {
    float: left;
    width: 100%;
}

dd ul li {
    width: 150px;
    height: 150px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    background-color: #cecece;
    margin: 10 10 10 0px;
    padding: 10px;
    list-style: none;
}